body {
  font-family: 'Righteous', cursive;
  font-family: 'Nunito', sans-serif;
  background-color: rgba(64, 149, 149, 0.6);
  height: 100%;
  color: rgb(248, 248, 248);  
  margin: 0 auto;
}

/* Nav Bar Starts */

.headerContainer {
  background-color: rgba(64, 149, 149, 0.5);
  border: 1px solid rgba(64, 149, 149, 0.3);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 50px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color:  #ffffff; 
}

a {
  color: #ffffff; 
}

a:hover{
  text-decoration: none;
  color: rgb(85, 84, 84); 
}

.link {
  letter-spacing: 6px;
  color:  #ffffff;  
  font-weight: 500;
  margin: 15px 20px;
  flex-wrap: wrap;
}

/* Home Section Starts */

.middle {
  background-image: url('/img/water.png');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 5px;
  padding-bottom: 180px;
}

.titleName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  font-family: 'Righteous', cursive;
  font-variant: small-caps;
  /* font-size: 100px; */
  color: #d88581;
  text-shadow: -1px -1px 0 #fff,
  1px -1px 0 #409595,
  -1px 1px 0 #409595,
  1px 1px 0 #409595;
  min-width: 0;
}

.descName {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 6px;
  color:  #ffffff;  
  font-weight: 700;
  margin: 100px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 20px;
  text-shadow: -1px -1px 0 #d88581;
  min-width: 0;
}

@media (min-width: 590px) {
  .titleName {
    font-size: 100px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


@media (min-width: 480px) and (max-width: 590px) {
  .titleName {
    font-size: 88px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .titleName {
    font-size: 60px;
    margin: 80px auto;
  }

  .descName {
    font-size: 20px;
    margin-top: 100px;
    text-align: center;
  }
}

.skillsWrap {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
  margin: 0 auto;
  min-height: 200px;
  background-color: rgba(64, 149, 149, 0.5);
  border: 1px solid rgba(64, 149, 149, 0.3);
}

.skillsPhysical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 320px;
  margin: 20px;
  max-height: 150px;
  min-height: 150px;
  border-radius: 5px;
  border: 1px solid rgba(64, 149, 149, 0.3);
  border-radius: 5px;
  color: rgb(85, 84, 84); 
  background-color: rgba(243, 243, 243, 0.75);
  font-family: 'Righteous', cursive;
  font-size: 20px;
}

.skillsBio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px;
  width: 310px;
  max-height: 80px;
  min-height: 80px;
  border: 1px solid rgba(64, 149, 149, 0.3);
  border-radius: 5px;
  background-color:  rgba(243, 243, 243, 0.75);
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 3px;
  color: rgb(85, 84, 84); 
}

@media (min-width: 320px) and (max-width: 480px) {
  
  .skillsPhysical {
    font-size: 15px;
  }
  
  .skillsBio {
    font-size: 15px;
  }
}

/* Project Section Starts  */

.container {
  background-image: url('/img/water.png');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 5px;
  padding-bottom: 70px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}

.proj {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  color: rgba(245, 245, 245);
  border: 2px solid rgba(64, 149, 149);
}

.card-img {
  max-width: 500px;
  min-width: 380px;
  max-height: 340px;
  min-height: 250px;
}

.projBtn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px auto;
  background-color: rgba(64, 149, 149);
  color: rgba(245, 245, 245);
  border: 2px solid rgba(64, 149, 149, 0.3);
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  max-width: 300px;
  max-height: 200px;
}

.projTitle {
  background-color: rgba(64, 149, 149);
  color: rgba(245, 245, 245);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
  
  .projImg {
    max-width: 350px;
    min-width: 300px;
    max-height: 225px;
    min-height: 200px;
  }

  .projBtn {
    min-height: 30px;
    min-width: 30px;
  }
}

/* About Section Starts */

.aboutMiddle {
  background-image: url('/img/water.png');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 10px;
}

.krissyBack {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 420px;
  max-height: 520px;
  color: rgb(85, 84, 84); 
  background-color: rgba(243, 243, 243, 0.55);
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

.krissyConant {
  max-width: 400px;
  border-radius: 100px;
}

@media (min-width: 0px) and (max-width: 480px) {
  .krissyConant {
    max-width: 300px;
  }
  .krissyBack {
    max-width: 320px;
  }
}

.aboutKrissy {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px auto;
  padding: 5px;
  max-height: 100%;
  background-color: rgba(64, 149, 149, 0.5);
  border: 2px solid rgba(64, 149, 149, 0.3);
  border-radius: 5px;

}

.resumeBtn {
  margin: 5px auto;
  border: 1px solid rgba(64, 149, 149, 0.3);
  border-radius: 5px;
  background-color: rgba(64, 149, 149, 0.3);
  font-family: 'Nunito', sans-serif;
  padding: 5px;
}

.allContact {
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  min-width: 250px;
  border: 1px solid rgba(64, 149, 149, 0.3);
  border-radius: 5px;
  background-color: rgba(64, 149, 149, 0.3);
  font-family: 'Nunito', sans-serif;
  color: rgb(85, 84, 84); 
}

.resumeTitle {
  margin: 5px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 350px;
  min-width: 250px;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  color: rgb(85, 84, 84); 
}


.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  min-width: 400px;
  margin: 15px;
  max-height: 430px;
  min-height: 230px;
  border-radius: 5px;
  border: 1px solid rgba(64, 149, 149, 0.3);
  border-radius: 5px;
  background-color: rgba(243, 243, 243, 0.75);
  font-family: 'Righteous', cursive;
  font-size: 14px;
  color: rgb(85, 84, 84); 
}

.profileTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profileBio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 420px;
  padding: 20px;
  border: 1px solid rgba(64, 149, 149, 0.3);
  border-radius: 5px;
  background-color:  rgba(243, 243, 243, 0.75);
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 3px;
  color: rgb(85, 84, 84); 
}

