body {
  font-family: 'Righteous', cursive;
  font-family: 'Nunito', sans-serif;
  background-color: rgba(64, 149, 149, 0.4);
  background-image: url('/img/water.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

/* Nav Bar Starts */

.headerContainer {
  background-color: rgba(64, 149, 149, 0.4);
  border: 1px solid rgba(64, 149, 149, 0.3);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 50px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color:  #ffffff; 
}

a {
  color: rgb(212, 117, 116); 
}

a:hover{
  text-decoration: none;
  color: rgb(85, 84, 84);  
}

.link {
  letter-spacing: 6px;
  color:  #ffffff;  
  font-weight: 500;
  margin: 15px 20px;
  flex-wrap: wrap;
}

/* Home Section Starts */

.titleName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  font-family: 'Righteous', cursive;
  font-variant: small-caps;
  font-size: 80px;
  background-image: -webkit-linear-gradient(rgb(212, 117, 116) 30%, rgb(212, 170, 168) 50%, rgb(212, 117, 116) 80%);
  background-image: -moz-linear-gradient(rgb(212, 117, 116) 30%, rgb(212, 170, 168) 50%, rgb(212, 117, 116) 80%);
  background-image: -o-linear-gradient(rgb(212, 117, 116) 30%, rgb(212, 170, 168) 50%, rgb(212, 117, 116) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  min-width: 0;
}

.descName {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 6px;
  color:  #ffffff;  
  font-weight: 700;
  margin: 100px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position: relative;
}

@media (min-width: 320px) and (max-width: 480px) {
  .titleName {
    font-size: 60px;
  }

  .descName {
    font-size: 17px;
    padding: 5px;
    margin: 100px 15px;
  }
}

/* Project Section Starts  */

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.proj {
  margin: 10px;
  opacity: .8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projImg {
  max-width: 500px;
  min-width: 380px;
  max-height: 340px;
  min-height: 250px;

}

.proj:hover {
  opacity: 1;
}

.projBtn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px auto;
  background-color:rgba(212, 117, 116);
  color: rgba(245, 245, 245);
  border: 2px solid rgb(226, 224, 224);
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  max-width: 150px;
  max-height: 200px;
  min-height: 30px;
  min-width: 30px;
}

/* About Section Starts */

.aboutKrissy {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px auto;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  margin: 10px;
  border-radius: 5px;
  margin: 0px auto;
  max-height: 430px;
  min-height: 430px;
}

.profileTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  padding: 10px;
  border: 1px solid rgba(64, 149, 149, 0.3);
  border-radius: 5px;
  background-color: rgba(243, 243, 243, 0.75);
  font-family: 'Righteous', cursive;
  font-size: 14px;
  color: rgb(85, 84, 84); 
}

.profileBio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  padding: 20px;
  border: 1px solid rgba(64, 149, 149, 0.3);
  border-radius: 5px;
  background-color:  rgba(243, 243, 243, 0.75);
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 3px;
  color: rgb(85, 84, 84); 
}

.resume {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  border: 1px solid rgba(64, 149, 149, 0.3);
  color: rgb(85, 84, 84); 
  background-color: rgba(243, 243, 243, 0.75);
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

.resumeBtn {
  margin: 10px auto;
  border: 1px solid rgba(64, 149, 149, 0.3);
  border-radius: 5px;
  background-color: rgba(243, 243, 243, 0.75);
  font-family: 'Nunito', sans-serif;
}

.resumeTitle {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding: 10px;
  border: 1px solid rgba(64, 149, 149, 0.3);
  border-radius: 5px;
  background-color: rgba(243, 243, 243, 0.75);
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: rgb(85, 84, 84); 
}